body {
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0px;
  text-align: center;
  font-family: work sans;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 1.5%;
  grid-auto-flow: dense;
}
.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.gallery-item:hover .image img {
  transform: scale(1.03);
}

.gallery-item .text {
  opacity: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55%;
  color: white;
  pointer-events: none;
  z-index: 4;
  transition: 0.3s ease-in-out;
}
.gallery-item:hover .text {
  opacity: 0%;
}
.portrait {
  grid-column: span 1;
  grid-row: span 2;
}
.landscape {
  grid-column: span 2;
  grid-row: span 1;
}
